@model IEnumerable<PersonResponseDTO>

@{
    ViewBag.Title = "Persons";
}
<form action="~/persons/index" method="get">

    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    <option value="@field.Key">@field.Value</option>
                }
            </select>
        </div>

        <div class="flex-1">
            <input type="search" id="seach" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.SeachString"/>
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="~/persons/index">Clear All</a>
        </div>
    </div>
    <h1>Persons</h1>
    <table class="table w-100 mt">
        <thead>
            <tr>
                <th>Person Name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Address</th>
                <th>Recieve News Letter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponseDTO personResponseDTO in Model)
            {
                <tr>
                    <td>@personResponseDTO.PersonName</td>
                    <td>@personResponseDTO.Email</td>
                    <td>@personResponseDTO.DOB?.ToString("dd MM yyyy")</td>
                    <td>@personResponseDTO.Age</td>
                    <td>@personResponseDTO.Gender</td>
                    <td>@personResponseDTO.CountryName</td>
                    <td>@personResponseDTO.Address</td>
                    <td>@personResponseDTO.ReceiveNewsLetter</td>
                </tr>
            }
        </tbody>
    </table>
</form>