@if (ViewBag.CurrentSortBy == @ViewBag.ColumnName && @ViewBag.CurrentSortOrderOptionType == SortOrderOptionType.Ascending)
{
    <th>
        <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.SeachString&sortBy=@ViewBag.ColumnName&sortOrderOptionType=@nameof(SortOrderOptionType.Descending)">@ViewBag.DisplayName</a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else if (ViewBag.CurrentSortBy == @ViewBag.ColumnName && @ViewBag.CurrentSortOrderOptionType == SortOrderOptionType.Descending)
{
    <th>
        <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.SeachString&sortBy=@ViewBag.ColumnName&sortOrderOptionType=@nameof(SortOrderOptionType.Ascending)">@ViewBag.DisplayName</a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else
{
    <th>
        <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.SeachString&sortBy=@ViewBag.ColumnName&sortOrderOptionType=@nameof(SortOrderOptionType.Descending)">@ViewBag.DisplayName</a>
    </th>
}
